In [1]:
%matplotlib inline
import matplotlib.pyplot as plt

import pandas as pd
import numpy as np

import re
import glob
import csv

import time

import nltk

from sklearn.externals import joblib

In [4]:
df = pd.read_csv('data/sexualMisconduct_all.csv')
print(df.head())
print(df.shape)

  Last Update  Year of First Incident  Year of First Outcome  \
0     8/17/18                  1917.0                 1917.0
1     8/17/18                     NaN                 1978.0
2    11/14/18                     NaN                 1978.0
3     8/17/18                     NaN                 1979.0
4     8/17/18                     NaN                 1979.0

                Name Multiple Institutions/Positions (repeat misconduct)  \
0  William F. Slocum                                                NaN
1        Ezra Mishan                                                NaN
2     Councille Blye                                                NaN
3         Orie Brown                                                NaN
4   Martin L. Kilson                                                NaN

  Administrator, Department, Faculty, Researcher, Coach       Position Title  \
0                                      Administrator               President
1                                            Faculty                     NaN
2                                            Faculty     Associate Professor
3                                            Faculty                     NaN
4                                            Faculty                     NaN

                                Discipline or Domain  \
0                                                NaN
1                                          Economics
2                                            English
3  Criminal Justice/Criminology/Law Enforcement (15)
4                 History/International Studies (20)

     Institution and/or Professional Society  \
0                           Colorado College
1                      University of Florida
2                      University of Florida
3  California State University at Sacramento
4                         Harvard University

                                  Details of Outcome Outcome Summary  \
0  INVESTIGATED AND ASKED TO LEAVE BY BOARD FOR H...        resigned
1  ARRESTED FOR ATTEMPTED SEXUAL BATTERY OF STUDE...        arrested
2  Fired for propositioning 3 football players; i...        murdered
3  MULTIPLE CASES – AT LEASTONE FOUND TO HAVE MER...           fired
4                                       REPRIMANDED.     reprimanded

                                             Link(s)  Unnamed: 12  \
0  https://www.chronicle.com/article/Colorado-Col...          NaN
1  https://news.google.com/newspapers?nid=888&dat...          NaN
2  http://ufdc.ufl.edu/UF00081147/00001/1j; https...          NaN
3  http://law.justia.com/cases/california/court-o...          NaN
4  http://www.thecrimson.com/article/1979/12/13/d...          NaN

   Unnamed: 13  Unnamed: 14  Unnamed: 15  Unnamed: 16  Unnamed: 17  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN

   Unnamed: 18
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
(996, 19)

In [5]:
print(df.tail())

    Last Update  Year of First Incident  Year of First Outcome Name  \
991         NaN                     NaN                    NaN  NaN
992         NaN                     NaN                    NaN  NaN
993         NaN                     NaN                    NaN  NaN
994         NaN                     NaN                    NaN  NaN
995         NaN                     NaN                    NaN  NaN

    Multiple Institutions/Positions (repeat misconduct)  \
991                                                NaN
992                                                NaN
993                                                NaN
994                                                NaN
995                                                NaN

    Administrator, Department, Faculty, Researcher, Coach Position Title  \
991                                                NaN               NaN
992                                                NaN               NaN
993                                                NaN               NaN
994                                                NaN               NaN
995                                                NaN               NaN

    Discipline or Domain Institution and/or Professional Society  \
991                  NaN                                     NaN
992                  NaN                                     NaN
993                  NaN                                     NaN
994                  NaN                                     NaN
995                  NaN                                     NaN

    Details of Outcome Outcome Summary Link(s)  Unnamed: 12  Unnamed: 13  \
991                NaN             NaN     NaN          NaN          NaN
992                NaN             NaN     NaN          NaN          NaN
993                NaN             NaN     NaN          NaN          NaN
994                NaN             NaN     NaN          NaN          NaN
995                NaN             NaN     NaN          NaN          NaN

     Unnamed: 14  Unnamed: 15  Unnamed: 16  Unnamed: 17  Unnamed: 18
991          NaN          NaN          NaN          NaN          NaN
992          NaN          NaN          NaN          NaN          NaN
993          NaN          NaN          NaN          NaN          NaN
994          NaN          NaN          NaN          NaN          NaN
995          NaN          NaN          NaN          NaN          NaN

In [6]:
df.describe()

,Year of First Incident,Year of First Outcome,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
count,45.000000,755.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,2007.800000,2008.701987,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,17.384162,10.549488,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1917.000000,1917.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,2011.000000,2002.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,2014.000000,2013.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,2016.000000,2017.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,2018.000000,2019.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df.dtypes

Last Update                                               object
Year of First Incident                                   float64
Year of First Outcome                                    float64
Name                                                      object
Multiple Institutions/Positions (repeat misconduct)       object
Administrator, Department, Faculty, Researcher, Coach     object
Position Title                                            object
Discipline or Domain                                      object
Institution and/or Professional Society                   object
Details of Outcome                                        object
Outcome Summary                                           object
Link(s)                                                   object
Unnamed: 12                                              float64
Unnamed: 13                                              float64
Unnamed: 14                                              float64
Unnamed: 15                                              float64
Unnamed: 16                                              float64
Unnamed: 17                                              float64
Unnamed: 18                                              float64
dtype: object

In [10]:
discipline = []
discipline = df['Discipline or Domain'].value_counts()
print(discipline)

Music (48)                                                                                                                                                                               47
English/Writing/Humanities (38)                                                                                                                                                          36
Medicine (includes Anatomy, Physiology, Psychiatry, Dentistry, Pharmacology/Pharmacy, Radiography, Biomedical, Clinical Science; Doctors Treating Students in Campus Facilities) (35)    36
Psychology                                                                                                                                                                               35
Unknown                                                                                                                                                                                  35
Bioscience (includes disciplines that study non-human organisms such as entomology, genetics, microbiology, etc.) (25)                                                                   25
Languages/Linguistics/Culture/Cultural Studies/Speech/Debate (25)                                                                                                                        24
Business (includes Hospitality, Accounting, Public Affairs, Marketing) (21)                                                                                                              21
History/International Studies (20)                                                                                                                                                       20
Art/Architecture/Graphic or Interior Design/Sculpture/Visual Communication/Photography/Film/Media (19)                                                                                   19
Mathematics/Statistics (17)                                                                                                                                                              17
Athletics                                                                                                                                                                                16
Education (includes Higher Education, Career Development) (16)                                                                                                                           16
Criminal Justice/Criminology/Law Enforcement (15)                                                                                                                                        15
Communications/Journalism (15)                                                                                                                                                           15
Philosophy (15)                                                                                                                                                                          15
Sociology (14)                                                                                                                                                                           14
Anthropology/Global Studies (12)                                                                                                                                                         13
Law (13)                                                                                                                                                                                 13
Chemistry / Biochemistry (13)                                                                                                                                                            13
Political Science/International & Public Affairs/Government (11)                                                                                                                         11
Theatre (12)                                                                                                                                                                             11
Music                                                                                                                                                                                    10
Geoscience/Geography (includes Meteorology) (10)                                                                                                                                         10
Law                                                                                                                                                                                       8
Health/Health Admin/Human Services/Public Health (7)                                                                                                                                      7
Physics (7)                                                                                                                                                                               7
Engineering (7)                                                                                                                                                                           7
Computer Science (includes Information Science) (7)                                                                                                                                       7
Student Affairs                                                                                                                                                                           6
                                                                                                                                                                                         ..
Libraries                                                                                                                                                                                 1
Computing, Engineering, and Construction                                                                                                                                                  1
Surgery                                                                                                                                                                                   1
Workforce Development and Continuing Education                                                                                                                                            1
Academic Computing                                                                                                                                                                        1
East Asian Studies                                                                                                                                                                        1
Plant Research                                                                                                                                                                            1
General Studies                                                                                                                                                                           1
German and Comparative Literature                                                                                                                                                         1
Business Affairs                                                                                                                                                                          1
Planning and Landscape Architecture                                                                                                                                                       1
American Indian Studies                                                                                                                                                                   1
Wellness                                                                                                                                                                                  1
Recreation and Wellness                                                                                                                                                                   1
Technical Areas (Driving, etc.) (1)                                                                                                                                                       1
Administration and Chief Business Officer                                                                                                                                                 1
Undergraduate Studies                                                                                                                                                                     1
Hotel and Restaurant Management                                                                                                                                                           1
Microbiology                                                                                                                                                                              1
Title IX                                                                                                                                                                                  1
International Leadership                                                                                                                                                                  1
Philosophy Department                                                                                                                                                                     1
Arts and Sciences                                                                                                                                                                         1
Urban Planning (1)                                                                                                                                                                        1
Education and Human Services                                                                                                                                                              1
School of Community Health Sciences, Counseling and Counseling Psychology                                                                                                                 1
Library                                                                                                                                                                                   1
Residence and Campus Activities                                                                                                                                                           1
media and communication studies                                                                                                                                                           1
Communication Sciences and Disorders                                                                                                                                                      1
Name: Discipline or Domain, Length: 144, dtype: int64

In [12]:
institution = []
institution = df['Institution and/or Professional Society'].value_counts()
print(institution)

University of Georgia                           17
Berklee College of Music                        12
University of California – Los Angeles          11
Yale University                                 11
University of California-Berkeley                9
Columbia University                              9
Michigan State University                        9
University of Florida                            8
Arizona State University                         7
University of Iowa                               7
Harvard University                               7
Ohio University                                  7
University of Kentucky                           6
Western Kentucky University                      6
University of Minnesota                          5
Indiana University-Bloomington                   5
University of California – Berkeley              5
Texas Tech University                            5
University of California – Davis                 5
Western Washington University                    4
University of Michigan                           4
Northern Kentucky University                     4
Florida Gulf Coast University                    4
Washington State University                      4
University of Nebraska-Lincoln                   4
University of Hawaii-Manoa                       4
Dartmouth College                                4
Ohio State University                            4
University of Colorado                           4
San Jose State University                        4
                                                ..
Kilgore College                                  1
University of Arkansas                           1
Duquesne University                              1
University of Buffalo                            1
Ithaca College                                   1
Norwalk Community College                        1
Wilkes University.                               1
Salisbury University                             1
Washington University at St. Louis               1
Wayne State University                           1
University of Texas-Pan American                 1
Huntington University                            1
Texas State Technical College                    1
University of California – San Diego             1
Emporia State University                         1
Saint Mary’s College of California               1
Paradise Valley Community College                1
University of Oregon                             1
Stockton State College                           1
InterCoast Career Institute                      1
SUNY-Buffalo                                     1
Washington College                               1
Brooklyn College                                 1
Luna Community College                           1
Fairleigh Dickinson University                   1
Northeastern University                          1
Volunteer State Community College                1
University of California – Los Angeles.          1
University of South Florida – St. Petersburg     1
Lewis & Clark College                            1
Name: Institution and/or Professional Society, Length: 448, dtype: int64

In [14]:
df['Name'].value_counts()

NAME UNKNOWN            48
UNKNOWN                  3
Lawrence Krauss          3
William Jacoby           2
H. Daniel Cohen          2
John W. Francis          2
Benjamin G. Blount       2
Lee E. Monroe            2
James David Christie     2
NAME WITHHELD            2
Sombudha Adhikari        2
Martin L. Kilson         2
Greg Gaston              1
Marco Pacioni            1
Andrew Hughey            1
Alan Tansman             1
William Allman           1
Xuesong “Gary” Yang      1
John Lighton             1
John Ellis Price         1
Charles Rosen            1
David Conz               1
Leroy Sanchez            1
Alex Taurke              1
Marvin Roberts           1
Unknown                  1
Jacob Orlofsky           1
Pierre Calabria          1
Jack Rappaport           1
Tom Gaddis               1
                        ..
Joseph Lopreato          1
Darren Pitcher           1
James Maas               1
Randy Pennington         1
Owen Cargol              1
Gregory Black            1
Bradley J. Holliday      1
Vernard Grice            1
Jonathan Fonville        1
Hany Fam                 1
Steve Kirby              1
Joseph H. Levenstein     1
Pete Hill                1
Fred Wiseman             1
Shaun Kelly              1
Tianyi Wang              1
Curtis Ray Freeman       1
Mark Weiger              1
Donna Laird              1
J.W. Wiley               1
John Kennedy             1
Bradley Garner           1
Michael Mullan           1
Elbaki Hermassi          1
Gary Schlappal           1
Ken Stamatis             1
Jim Selbe                1
Choong Mo Kang           1
Lawrence Mitchell        1
Jeriah Hildwine          1
Name: Name, Length: 686, dtype: int64

In [13]:
outcome = []
outcome = df['Outcome Summary'].value_counts()
print(outcome)

resigned                 232
fired                    154
no action                 79
suspended                 66
lawsuit settled           44
retired                   34
arrested                  27
reprimanded               27
demoted                   17
convicted                 13
imprisoned                12
suicide                   11
banned from premesis      10
jury award                 9
monetary punishment        6
died                       5
ongoing                    3
unknown                    2
positional punishment      2
removed                    1
murdered                   1
Name: Outcome Summary, dtype: int64